body {
    padding-top: 4.5rem;
}

.alert-pre {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
}

.jumbotron {
    padding: 1rem;
}


tr:not(.selected):not(.header):hover {
    background: #969292;
}

.selected {
    background: #4088ff;
}

.hidden {
    display: none;
}